body {
    background: #0d0d0d;
    margin: 0;
    font-family: monospace;
    color: #00ff90;
}

#terminal {
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.prompt {
    color: #00ff90;
}

#output {
    white-space: pre-wrap;
    margin-bottom: 10px;
}

#commandInput {
    background: transparent;
    border: none;
    outline: none;
    color: #00ff90;
    width: 80%;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #00ff90;
}
